@font-face {
  font-family: 'Fraunces';
  src: url('../fonts/Fraunces144pt-SemiBold.woff2') format('woff2'),
    url('../fonts/Fraunces144pt-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
}

:root {
  --ff-heading: 'Fraunces', sans-serif;
  --ff-body: 'Manrope', sans-serif;

  --clr-primary-100: #24053e;
  --clr-primary-200: #44ffa1;
  --clr-primary-300: #584d62;

  --clr-natural-100: #fcf8ff;
  --clr-natural-200: #fff;

  --padding: 1rem;
  --max-width: 1114px;

  --width: min(var(--max-width), 100% - (var(--padding) * 2));
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Generic CSS */

.heading-l {
  font-family: var(--ff-heading);
  font-size: 80px;

  line-height: 80px;
}

.heading-m {
  font-family: var(--ff-heading);
  font-size: 56px;

  line-height: 64px;
}

.heading-s {
  font-family: var(--ff-heading);
  font-size: 32px;

  line-height: 40px;
}

.text-body {
  font-family: var(--ff-body);
  font-size: 18px;

  line-height: 32px;
}

.circle-number {
  width: 56px;
  height: 56px;

  border: 1px solid var(--clr-primary-300);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-heading);
  font-size: 24px;
  line-height: 40px;

  border-radius: 50%;

  color: var(--clr-primary-100);
}

.btn {
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: bold;

  line-height: 32px;
  letter-spacing: -0.18px;

  text-decoration: none;
}

.btn-primary {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);

  padding: 15px 25px;
}

.btn-outline-secondary {
  border-bottom: 2px solid var(--clr-primary-200);
  color: var(--clr-natural-200);
}

.btn-outline-secondary:hover {
  color: var(--clr-primary-200);
}

/* Heading CSS */

header {
  background-color: var(--clr-primary-100);
  height: 716px;

  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;

  -webkit-clip-path: ellipse(100% 65% at 50% 35%);
  clip-path: ellipse(100% 65% at 50% 35%);

  z-index: 1;
}

.navbar-container {
  width: var(--width);

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding-top: 3rem;
}

.header-content {
  width: 635px;
  text-align: center;
  padding-top: 4rem;
}

.header-content .heading-l {
  padding-bottom: 37px;

  color: var(--clr-natural-200);
}

.hero-img {
  content: url('../images/image-hero.webp');
  width: 767px;
  height: 441px;

  position: fixed;
  bottom: 65%;

  z-index: 20;
}

/* Main Section CSS */

.main-section {
  height: 960px;

  background-color: var(--clr-natural-100);

  display: flex;
  flex-direction: column;

  justify-content: end;

  padding-bottom: 10rem;

  -webkit-clip-path: ellipse(100% 65% at 50% 35%);
  clip-path: ellipse(100% 65% at 50% 35%);

  position: absolute;
  width: 100%;
  top: 650px;
}

.three-columns {
  width: var(--width);

  margin-inline: auto;
  height: 308px;

  display: grid;
  grid-template-columns: repeat(3, 354px);
  column-gap: 20px;
}

.column {
  width: 354px;
  height: 308px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  text-align: center;
}

/* Profile Section */
.profile-section {
  width: var(--width);
}

.profile-img {
  width: 477px;
  height: 477px;
}
